body {
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
}

header, form, input, button {
    box-shadow: 6px 6px lightgray;
    border: 1px solid lightgray;
    border-radius: 5px;
}

header {
    background-color: white;
    height: 100px;
}

form {
    background-color: white;
    font-size: 150%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 3%;
    padding-right: 5%;
    width: 500px;
}

form h1 {
    font-size: 125%;
}

form button {
    background-color: cornflowerblue;
    color: white;
    margin: 0 auto;
    margin-top: 8%;
    font-size: 100%;
}

form label {
    visibility: hidden;
}

input {
    padding-left: 2%;
}

input, button {
    width: 500px;
    height: 60px;
    font-size: 100%;
}